p
{
font-size:20px;
line-heigth:25px;
}

.nav-pills>li>a
{
    text-align:center;
  background-color:green;
  color:#FFF;
  padding:10px;
}
.nav-pills>li>a:hover
{
    text-align:center;
  background-color:white;
  color:#0f5f0f;
  padding:10px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
{
      text-align:center;
  background-color:#0f5f0f;
}
